#hello{
    background-color: red;
}

#hello2{
    color: purple;
    background-color: cadetblue;
}

.god{
    font-style: italic;
}

.shiv{
    font-weight: bold;
    background-color: rgb(157, 44, 255);
}